.git
.idea
.vscode
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
bun.lockb
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
.env
.env.*
Dockerfile
compose.yml
compose.yaml
docker-compose.yml
